<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="4" android:versionName="1.0" package="com.fresh.fixityio" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="15" />
	<uses-sdk android:targetSdkVersion="26" />
	<application android:label="Fixity.io">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="com.fresh.fixityio.fileprovider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera2" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.location.gps" />
</manifest>